<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/master.css">
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
  <title>Photogur</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
